{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{form|crispy}}
            </fieldset>
            <fieldset class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </fieldset>
        </form>
    </div>
{% else %}
    <div class="content-section text-center">
        <h2 class="text-danger">SORRY</h2>
        <h3 class="bg-danger text-light p-3">This Link is not valid anymore</h3>
    </div>
{% endif %}
{% endblock content %}